<div class="row text-center my-4 justify-content-between w-100">

    <div class="col-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                <i class="bi bi-chevron-left"></i>
            </div>

            <div
                class="btn btn-primary"
                mwlCalendarNextView [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                <i class="bi bi-chevron-right"></i>
            </div>

            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
        </div>
    </div>

    <div class="col-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale" class="cell">
    <div class="cal-cell-top">
        <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>
    </div>
    <small class="price-cell">
        Precio habitación:
        <br>
        <strong>{{ day.events }}</strong>
    </small>
</ng-template>


<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays"
        [cellTemplate]="customCellTemplate"
        [events]="events">
    </mwl-calendar-month-view>
</div>
