<div class="row text-center my-4 justify-content-between w-100">
    <div class="col-6">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                <i class="bi bi-chevron-left"></i>
            </div>

            <div
                class="btn btn-primary"
                mwlCalendarNextView [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                <i class="bi bi-chevron-right"></i>
            </div>

            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            
            <div ngbDropdown>
                <button
                    class="btn"
                    id="dropdownBasic"
                    ngbDropdownToggle>
                    {{ (selectedHotel ? selectedHotel.name : "Hotel") | titlecase }}
                </button>
            
                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <button
                        *ngFor="let hotel of hotelsData"
                        class="dropdown-item"
                        (click)="onHotelChange(hotel)">
                        {{ hotel.name | titlecase }}
                    </button>
                </div>
            </div>
    
            <div ngbDropdown>
                <button
                    class="btn"
                    id="dropdownBasic"
                    ngbDropdownToggle>
                    {{ (selectedRoom ? selectedRoom.name : "Room") | titlecase }}
                </button>
            
                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                    <button
                        *ngFor="let room of roomsData"
                        class="dropdown-item"
                        (click)="onRoomChange(room)">
                        {{ room.name | titlecase }}
                    </button>
                </div>
            </div>
        </div>


    </div>

    <div class="col-6">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale" class="cell">
    <div class="cal-cell-top">
        <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>
    </div>
    <div
        [ngStyle]="{'background-color': getColor(day.events.length > 0 ? day.events[0].prediction : 0)}"
        class="price-cell">
        <small>
            <strong>{{ day.events.length > 0 ? 'Room price: ' + day.events[0].price : 'No data' }}</strong>
        </small>
        <small>
            {{ day.events.length > 0 ? 'Prediction: ' + day.events[0].prediction + '%' : '' }}
        </small>
    </div>
</ng-template>

<ng-template #loading>
    <div class="text-center">
      <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
      Loading events...
    </div>
</ng-template>

<div *ngIf="calendarEvents$ | async; else loading; let events">
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [locale]="locale"
            [weekStartsOn]="weekStartsOn"
            [weekendDays]="weekendDays"
            [cellTemplate]="customCellTemplate"
            [events]="events">
        </mwl-calendar-month-view>
    </div>
</div>